html{
    background-image: url('warty-final-ubuntu.png');
    background-size: cover;
}

h1{
    text-align: center;
    font-size: 3rem;
}

.button{
    vertical-align: middle;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(2px);
    border-radius: 8px;
    border: none;
    border-right: 1px solid rgba(255, 255, 255, 0.5);
    border-bottom: 1px solid #fff;
    font-size: 2rem;
    padding: 10px;
}

.button:hover{
    border: none;
}

.button:active{
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid #fff;
}

.container{
    width: min(100% - 2rem, 1024px);
    margin-inline: auto;
}

.foreground{
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(2px);
    border-radius: 8px;
    border: none;
    border-right: 1px solid rgba(255, 255, 255, 0.5);
    border-bottom: 1px solid #ffffff;
    padding: 10px;
}

input.foreground{
    font-size: 2rem;
}

input[type="number"]::-webkit-outer-spin-button, 
input[type="number"]::-webkit-inner-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
} 

input[type="number"] { 
    -moz-appearance:textfield; 
}

input.flex-item{
    text-align: left;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
}
  
.flex-item {
    flex-basis: 50%;
    text-align: center;
    font-size: 3rem;
    margin: 5px 0px 5px 0px;
}

.setting{
    text-align: right;
}

#list{
    height: 24rem;
    overflow-y: scroll;
}

#list::-webkit-scrollbar{
    width: 0px;
}

#list:hover::-webkit-scrollbar{
    width: 17px;
}
 
@media (max-width: 767px) {
    html {
        background-image: url('ubuntu-16-04-lts-Phone-fondo.jpg');
    }

    h1{
        font-size: 2.5rem;
    }

    .flex-item {
        flex-basis: 100%;
        font-size: 2rem;
        margin: 10px 0px 10px 0px;
    }
    
    .header{
        display: none;
    }
}
